
.name{
/* Yarriba Castro */


position: absolute;
width: 328px;
height: 62px;
left: 386px;
top: 567px;

font-family: 'PT Sans Caption';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;

color: #000000;

}
.description
{
  position: absolute;
  width: 426px;
  height: 93px;
  left: 337px;
  top: 723px;
  
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  
  color: #000000;
}

body {
    background: #4D5646;
    text-align: center;
    color: white;
  }
  
  .card {
    box-sizing: border-box;
    color: black;
    height: 825px;
    width: 691px;
    left: 196px;
    margin-top: 127px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #70eab1c0;
    color: #222;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    

  }
 
  
  
  .wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  a {
    text-decoration: none;
  }
  
  #button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #D74177, #FFE98A);
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
  }
  
  #name {
    font-size: 24px;
  }